doctype html
html.no-js(lang='')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title 4tree
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='styles/app.css')
  body
    //if lt IE 8
      p.browserupgrade
        | You are using an strong outdated
        |  browser. Please a(href='http://browsehappy.com/') upgrade your browser
        |  to improve your experience.
    .js-react-app
    script(src='http://localhost:8080/bundle.js')
    //script(src='build/plugin.js')
